<div class="p-32"> 
  <div class="flex justify-between py-8">
    <div class="text-center text-red"> 
      <%= page_entries_info @comics %>
    </div>

    <%= will_paginate @comics, :page_links => false, class: 'pagination', previous_label: 'Previous', next_label: 'Next' %>
  </div>
  <div class="grid grid-cols-5 gap-4">
    <% @comics.each do |comic| %>
      <%= render 'comics/comic', comic: comic %>
    <% end %>
  </div>
  <div class="flex justify-between py-8">
    <div class="text-center text-red"> 
      <%= page_entries_info @comics %>
    </div>

    <%= will_paginate @comics, :page_links => false, class: 'pagination', previous_label: 'Previous', next_label: 'Next' %>
  </div>
</div>